<!DOCTYPE HTML>
<html>
    <head>
        <title>Mi nuevo plantilla</title>
    </head>
    <body>
        <h1>Nuevo Template</h1>
        <div style="background-color: cornflowerblue">
            @RenderBody()
        </div>
    </body>
</html>